body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
  }
  
  /* canvas {
    border: 1px solid black;
  } */
  
  button {
    background-color: #45515f;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #98aec5;
}

.navbar {
  position: fixed; /* Sticks it to the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top */
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Modal styles */
.arrow-box p {
  margin: 0;
  font-size: 14px;
}

.arrow-box {
  overflow-y: auto;
  max-height: 100%;
}