.diagram-section {
    position: relative;
    margin-top: 40px;
  }
  
  .data-block {
    border: 1px solid #dee2e6; /* Bootstrap table border color */
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 0.25rem; /* Bootstrap table border radius */
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap table box shadow */
  }

  #arrowCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* behind the tables and blocks */
  }

  .highlight {
    background-color: yellow; /* Change this to your desired highlight color */
  }

  #addr1Row:hover,
  #addr2Row:hover,
  #addr12Row:hover,
  #indirectRow:hover,
  #indBlockAddr1:hover,
  #indBlockAddr2:hover,
  #indBlockAddr256:hover,
  #dIndirectRow:hover,
  #DAddr1Row:hover,
  #DAddr2Row:hover,
  #DAddr256Row:hover,
  #indBlock2Addr1:hover,
  #indBlock2Addr2:hover,
  #indBlock2Addr256:hover {
    background-color: rgb(255, 248, 152); /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  td {
    background-color: transparent !important;
  }